# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Dependencies
node_modules/

# Build output
dist/
build/
coverage/
target/
web/space_invaders.wasm
web/mq_js_bundle.js

# Environment files
.env
.env.*
